<div [style.color]="fontColor">
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
    <p>home works!</p>
    <p [class]="className">{{customText}}</p>
    <p class="{{className}}">{{customText}}</p>
    <p *ngFor="let fc of forCount">ngFor {{fc}} works!</p>
</div>
<div>
    <button
        type="button"
        [disabled]="!canClick"
        (click)="sayMessage()">
        Trigger alert message
    </button>
</div>